/*Universal Selector*/
*{
    padding: 0;
    margin: 0;
}

/*Class Slector*/


.myDiv1{
    height: 50px;
    width: 50px;
    background-color: crimson;
}  

.myDiv2{
    height: 50px;
    width: 50px;
    background-color: yellow;
} 
.myDiv3{
    height: 50px;
    width: 50px;
    background-color: purple;
} 

.myDiv3{
    height: 50px;
    width: 50px;
    background-color: green;
}
 
